{% extends 'base.html.twig' %}

{% block title %}Jouer l'étape{% endblock %}

{% block body %}

<style>
    .container {background-color: white;font-weight: bold}
</style>

<div class="container mt-5">
    <h1 class="text-center">{{ partie.etape.titre }}</h1>
    <p>{{ partie.etape.texteAmbiance }}</p>
    <div class="mt-4">
        {% for alternative in partie.etape.alternatives %}
            <div class="mb-2">
                <a href="{{ path('app_play_aventure', {'idPartie': partie.id, 'idEtape': alternative.id }) }}" class="btn btn-secondary w-100">
                    {{ alternative.texteAmbiance }}
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
